{% load static %}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'css/analytics.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Analytics</title>

</head>

<body>
     <div class="navbar-fixed">
         <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo"><i class="large material-icons">insert_chart</i>Analytics</a>
              <ul id="nav-mobile" class="right">
                <li><a href="/admin">Admin</a></li>
              </ul>
            </div>
          </nav>
     </div>

     <div class="row">
        <div class="col s12 m12">
          <div class="card grey lighten-3">
            <div class="card-content">
                <div class="card-title center-align valign-wrapper">
                    <i class="small inline-icon material-icons">attach_money</i>
                    <span class=""><b>Gross Sales</b></span>
                </div>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card green lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">event</i>
                                  Daily
                              </span>
                              <div class="center-align" id="dailyGrossSales">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card yellow lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">dvr</i>
                                  Weekly
                              </span>
                              <div class="center-align" id="weeklyGrossSales">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card blue lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align flow-text">
                                  <i class="small inline-icon material-icons">event_note</i>
                                  Monthly
                              </span>
                              <div class="center-align" id="monthlyGrossSales">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>

     <div class="row">
        <div class="col s12 m12">
          <div class="card grey lighten-3">
            <div class="card-content">
                <div class="card-title center-align valign-wrapper">
                    <i class="small inline-icon material-icons">airplay</i>
                    <span class=""><b>Operational Status</b></span>
                </div>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card green lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">event</i>
                                  Past Orders
                              </span>
                              <div class="center-align" id="pastOrders">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card yellow lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">dvr</i>
                                  Upcoming Orders
                              </span>
                              <div class="center-align" id="upcomingOrders">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card blue lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align flow-text">
                                  <i class="small inline-icon material-icons">event_note</i>
                                  Repeat Orders
                              </span>
                              <div class="center-align component-data" id="repeatOrders">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m12">
          <div class="card grey lighten-3">
            <div class="card-content">
                <div class="card-title center-align valign-wrapper">
                    <i class="small inline-icon material-icons">accessibility</i>
                    <span class=""><b>Sign ups</b></span>
                </div>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card green lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">event</i>
                                  Daily
                              </span>
                              <div class="component-data center-align" id="dailySignup">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card yellow lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">dvr</i>
                                  Weekly
                              </span>
                              <div class="component-data center-align" id="weeklySignup">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card blue lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align flow-text">
                                  <i class="small inline-icon material-icons">event_note</i>
                                  Monthly
                              </span>
                              <div class="component-data center-align" id="monthlySignup">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
          <div class="card grey lighten-3">
            <div class="card-content">
              <div class="card-title center-align valign-wrapper">
                    <i class="small inline-icon material-icons">restaurant_menu</i>
                    <span class=""><b>Orders</b></span>
                </div>
              <div class="row">
                  <div class="col s12 m4">
                      <div class="card green lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">event</i>
                                  Daily
                              </span>
                              <div class="component-data center-align" id="dailyOrder">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card yellow lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons">dvr</i>
                                  Weekly
                              </span>
                              <div class="component-data center-align" id="weeklyOrder">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                      <div class="card blue lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align flow-text">
                                  <i class="small inline-icon material-icons">event_note</i>
                                  Monthly
                              </span>
                              <div class="component-data center-align" id="monthlyOrder">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
          <div class="card grey lighten-3">
            <div class="card-content">
              <div class="card-title center-align valign-wrapper">
                    <i class="small inline-icon material-icons">restaurant</i>
                  <span class=""><b>Restaurants</b></span>
                </div>
              <div class="row">
                  <div class="col s12 m6">
                      <div class="card green lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons green-text">brightness_1</i>
                                  Online
                              </span>
                              <div class="component-data center-align" id="onlineRestaurants">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m6">
                      <div class="card yellow lighten-5">
                          <div class="card-content">
                              <span class="card-title center-align">
                                  <i class="small inline-icon material-icons red-text">brightness_1</i>
                                  Offline
                              </span>
                              <div class="component-data center-align" id="offlineRestaurants">
                                  -
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
</body>
</html>





